#instagrams {
	
	margin: 10px;
	width: 100%;
	min-height: 150px;
}

.instagram {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 4px;
	border: 1px solid black;
	overflow: hidden;
	background: no-repeat center center;
	background-size: cover;
}


#load-more-btn {
	position: relative;
}
#load-more-btn.loading:after {
	position: absolute;
	content: "";
	width: 51px;
	height: 16px;
	right: -55px;
	background: url('../images/loading.gif') no-repeat center center;
}